<div class="article-container">

  {{#each Article}}
  <div class="row">

<div class="panel panel-primary">
  <div class="panel-heading">{{this.title}}
    <a href="/notes/{{this._id}}">
    <button type="button" class="btn btn-warning save-article" >See Notes</button> </a>
  </div>
  <div class="panel-body">
    <a href= "http://www.echojs.com/{{this.link}}" target="_blank"> {{this.link}}</a>
  </div>
</div>
    </div>
 {{/each}}
</div>