/* CSS file for Homework#7 */

body{
    background-color:#444a5a!important;
}

.jumbotron{
    background: url("../images/supertrain.jpg");
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    color:maroon; 
}


.card-title{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

#add-title{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    background:#808e97;
    color: #fff;
}

.grid-item { 
    width: 200px; 
}
.grid-item--width2 { 
    width: 400px; 
}