body{
    background-color:#444a5a!important;
}

.jumbotron{
    background: url("../images/supertrain.jpg");
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    color:maroon; 
}

.display-4{
    background-color: hsl(215,14%,43%);
    }

.card-title{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
